/**************************************************************** GRID COMMON STYLES */
#grid {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:-1;
  display: none;
}
#grid div.horiz-container {
  position: absolute;
  width: 100%;
}
#grid div.horiz {
  border-bottom: 1px dotted #aaa;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
#grid div.vert-container {
  position: absolute;
  height: 100%;
}
#grid div.vert {
  display: inline-block;
  height: 100%;
}
