@media screen and (min-width:0px) and (max-width:480px){ /************************************* 0-480 */
  #grid {
    margin-left: -160px;
    width: 320px;
  }
  #grid div.horiz {
    height: 25px;  /* height+border-bottom = line-height: 26px; */
  }
  #grid div.vert {
    background: #ff0;
    margin-right: 10px; /* ((43+10)*6)-10 = 308 content width */
    opacity: 0.05;
    width: 54px;
  }
  #grid div.vert.first-line {
    margin-left: 5px;
  }
  #grid div.vert.cols5 { /* this grid uses 5 cols */
    margin-right: 0px;
  }
}

@media screen and (min-width:481px) and (max-width:768px){ /************************************* 481-768px */
  #grid {
    margin-left: -240px;
    width: 480px;
  }
  #grid div.horiz {
    height: 25px;  /* height+border-bottom = line-height: 26px; */
  }
  #grid div.vert {
    background: #0f0;
    margin-right: 20px;  /* ((60+20)*6)-20 = 460 content width */
    opacity: 0.05;
    width: 60px;
  }
  #grid div.vert.first-line {
    margin-left: 10px;
  }
  #grid div.vert.cols6 { /* this grid uses 6 cols */
    margin-right: 0px;
  }
}

@media screen and (min-width:769px) and (max-width:1024px){ /************************************* 769-1024px */
  #grid {
    margin-left: -375px;
    width: 750px;
  }
  #grid div.horiz {
    height: 25px;  /* height+border-bottom = line-height: 26px; */
  }
  #grid div.vert {
    background: #300;
    margin-right: 20px; /* ((55+20)*10)-20 = 730 content width */
    opacity: 0.05;
    width: 55px;
  }
  #grid div.vert.first-line {
    margin-left: 10px;
  }
  #grid div.vert.cols10 { /* this grid uses 10 cols */
    margin-right: 0px;
  }
}

@media screen and (min-width:1025px){ /************************************* >1025px */
  #grid {
    margin-left: -480px;
    width: 960px;
  }
  #grid div.horiz {
    height: 25px;  /* height+border-bottom = line-height: 26px; */
  }
  #grid div.vert {
    background: #00f;
    margin-right: 20px; /* ((60+20)*12)-20  = 940 content width */
    opacity: 0.05;
    width: 60px;
  }
  #grid div.vert.first-line {
    margin-left: 10px;
  }
  #grid div.vert.cols12 { /* this grid uses 12 cols */
    margin-right: 0px;
  }
}