/******************************************************************* MOST BASIC RESET */
* {
  margin: 0;
  padding: 0;
}

/*********************************************************************** BASIC STYLES */
body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
}

pre {
  background: #333; color: #fff;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin-bottom: 1.44444444444444444444em;
}

section h1 {
  font-size: 1.66666666666666666666em; /* 30 / 18 */
  line-height: 1.73333333333333333332em; /* 26 * 2 / 30  = 1.73333333333333333333 spans 2 lines */
}

h2 {
  font-size: 1em; /* 18 / 18 */
  line-height: 1.44444444444444444444em; /* 26 / 18 = 1.44444444444444444444 */
}

section p {
  font-size: 1em;  /* 18 % 18 */
  line-height: 1.44444444444444444444em; /* 26 / 18 = 1.44444444444444444444  */
  margin-bottom: 1.44444444444444444444em;
}

ul, ol {
  margin-bottom: 1.44444444444444444444em;
}

ul li {
  list-style: none;
  margin-left: 1em;
}

ol li {
  margin-left: 2em;
}

section p.summary {
  color: #6CB3D7;
  font-size: 1.11111111111111111111em;  /* 20 / 18 = 1.11111111111111111111 */
  line-height: 1.3em; /* 26 / 20 = 1.3  */
  margin-bottom: 1.3em;
}

aside p, aside li {
  font-size: .77777777777777777777em; /* 14 / 18 = .77777777777777777777 */
  line-height: 1.85714285714285714285em; /* 26 / 14 = 1.85714285714285714285  */
  margin-bottom: 1.85714285714285714285em;
}

footer {
  background: #eee;
  clear: both;
  margin-bottom: 20px;
  width: 100%;
}
footer small {
  display: inline-block;
  padding: 5px;
}


@media screen and (min-width:0px) and (max-width:480px){ /************************************* 0-480 */
  body {
    width: 320px;
  }

  section, aside {
    float: none;
    margin-left: 5px;
    width: 310px;
  }
}

@media screen and (min-width:481px) and (max-width:768px){ /************************************* 481-768px */
  body {
    width: 480px;
  }

  section, aside {
    float: none;
    margin-left: 10px;
    width: 460px;
  }
}


@media screen and (min-width:769px) and (max-width:1024px){ /************************************* 769-1024px */
  body { /* 750 = 20 + 730 : 130/580 / 205,505 / 280,430 / 355,355 */
    width: 750px;
  }

  section {
    float: left;
    margin-left: 10px;
    width: 505px;
  }
  section h1 {
    margin: .86666666666666666666em 0; /* baseline * lines above / target fontsize:  26*2/30 = 1.73333333333333333333 / 2 = .86666666666666666666 */
  }

  aside {
    float: right;
    margin-top: 5.77777777777777777777em;  /* baseline * lines above / target fontsize:  26*4/18 = 5.77777777777777777777      */
    margin-right: 10px;
    width: 205px;
  }
}

@media screen and (min-width:1025px){ /************************************* >1025px */
  body {  /* 960 = 20 + 940 : 140,780 / 220,700 / 300,620 / 380,540 / 460,460 */
    width: 960px;
  }

  section {
    float: left;
    margin-left: 10px;
    width: 700px;
  }
  section h1 {
    margin: 1.73333333333333333333em 0 .86666666666666666666em 0; /* baseline * lines above / target fontsize:  26*2/30 = 1.73333333333333333333 / 2 = .86666666666666666666 */
  }

  aside {
    float: right;
    margin-right: 10px;
    margin-top: 7.22222222222222222222em;  /* baseline * lines above / target fontsize:  26*5/18 = 7.22222222222222222222    */
    width: 220px;
  }
}