/******************************************************************* MOST BASIC RESET */
* {
  margin: 0;
  padding: 0;
}

/*********************************************************************** BASIC STYLES */
body {
  font-size: 18px;
  line-height: 26px;
  font-family: sans-serif;
  margin: 0 auto;
}

section h1 {
  font-size: 1.66666666666666666666em; /* 30 / 18 */
  line-height: 1.73333333333333333332em; /* 26 * 2 / 30  = 1.73333333333333333333 spans 2 lines */ 
}

section p {
  font-size: 1em;  /* 18 % 18 */
  line-height: 1.44444444444444444444em; /* 26 / 18 = 1.44444444444444444444  */
  margin-bottom: 1.44444444444444444444em;
}

section p.summary {
  font-size: 1.11111111111111111111em;  /* 20 / 18 = 1.11111111111111111111 */
  line-height: 1.3em; /* 26 / 20 = 1.3  */
  margin-bottom: 1.3em;
  color: #6CB3D7;
}

aside p {
  font-size: .77777777777777777777em; /* 14 / 18 = .77777777777777777777 */
  line-height: 1.85714285714285714285em; /* 26 / 14 = 1.85714285714285714285  */
  margin-bottom: 1.85714285714285714285em;
}

footer { 
	clear: both;
	width: 100%;
	background: #eee;
	margin-bottom: 20px;
	}
footer small {
	display: inline-block;
	padding: 5px;
}

/**************************************************************** GRID COMMON STYLES */
#grid {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;  
  height: 100%; 
  overflow: hidden;
}

#grid div.horiz-container {
position: absolute;width: 100%; 
}#grid div.horiz {
  width: 100%;  
  overflow: hidden;
  border-bottom: 1px dotted #aaa;
  margin: 0;
  padding: 0;
}

#grid div.vert-container {
position: absolute;height: 100%; 
}
#grid div.vert {
height: 100%; 
display: inline-block;
}

@media screen and (min-width:0px) and (max-width:480px){ /************************************* 0-480 */
	/* GRID */
	#grid {
	  width: 320px; 
	  margin-left: -160px;
	}
	#grid div.horiz {
	  height: 25px;  /* height+border-bottom = line-height: 26px; */
	}
	#grid div.vert {
	  width: 54px;
	  margin-right: 10px; /* ((43+10)*6)-10 = 308 content width */
	  background: #ff0;
	  opacity: 0.1;
	}
	#grid div.vert.first-line {
	  margin-left: 5px;
	}
	#grid div.vert.cols5 { /* this grid uses 5 cols */
	  margin-right: 0px;
	}
	
	body {
	  width: 320px;
	  color: #ff0;
	}

	section, aside {
	  margin-left: 5px;
	  width: 310px; 
	  float: none;
	}
}

@media screen and (min-width:481px) and (max-width:768px){ /************************************* 481-768px */
	/* GRID */
	#grid {
	  width: 480px; 
	  margin-left: -240px;
	}
	#grid div.horiz {
	  height: 25px;  /* height+border-bottom = line-height: 26px; */
	}
	#grid div.vert {
	  width: 60px;
	  margin-right: 20px;  /* ((60+20)*6)-20 = 460 content width */
	  background: #0f0;
	  opacity: 0.1;
	}
	#grid div.vert.first-line {
	  margin-left: 10px;
	}
	#grid div.vert.cols6 { /* this grid uses 6 cols */
	  margin-right: 0px;
	}
	
	body {
	  width: 480px;
	  color: #0f0;
	}

	section, aside {
	  margin-left: 10px;
	  width: 460px; 
	  float: none;
	}


}

@media screen and (min-width:769px) and (max-width:1024px){ /************************************* 769-1024px */
	/* GRID */
	#grid {
	  width: 750px; 
	  margin-left: -375px;
	}
	#grid div.horiz {
	  height: 25px;  /* height+border-bottom = line-height: 26px; */
	}
	#grid div.vert {
	  width: 55px;
	  margin-right: 20px; /* ((55+20)*10)-20 = 730 content width */
	  background: #f00;
	  opacity: 0.1;
	}
	#grid div.vert.first-line {
	  margin-left: 10px;
	}
	#grid div.vert.cols10 { /* this grid uses 10 cols */
	  margin-right: 0px;
	}
	
	body { /* 750 = 20 + 730 : 130/580 / 205,505 / 280,430 / 355,355 */
	  width: 750px;
	  color: #f00;
	}

	section {
	  margin-left: 10px;
	  width: 505px; 
	  float: left;
	}
	section h1 {
	  margin: .86666666666666666666em 0; /* baseline * lines above / target fontsize:  26*2/30 = 1.73333333333333333333 / 2 = .86666666666666666666 */
	}

	aside {
	  margin-top: 8.66666666666666666666em;  /* baseline * lines above / target fontsize:  26*6/18 = 8.66666666666666666666     */
	  margin-right: 10px;
	  width: 205px; 
	  float: right;
	}


}

@media screen and (min-width:1025px){ /************************************* >1025px */
	/* GRID */
	#grid {
	  width: 960px; 
	  margin-left: -480px;
	}
	#grid div.horiz {
	  height: 25px;  /* height+border-bottom = line-height: 26px; */
	}
	#grid div.vert {
	  width: 60px;
	  margin-right: 20px; /* ((60+20)*12)-20  = 940 content width */
	  background: #00f;
	  opacity: 0.1;
	}
	#grid div.vert.first-line {
	  margin-left: 10px;
	}
	#grid div.vert.cols12 { /* this grid uses 12 cols */
	  margin-right: 0px;
	}
	
	body {  /* 960 = 20 + 940 : 140,780 / 220,700 / 300,620 / 380,540 / 460,460 */
	  width: 960px;
	  color: #00f;
	}

	section {
	  margin-left: 10px;
	  width: 700px; 
	  float: left;
	  
	}
	section h1 {
	  margin: 1.73333333333333333333em 0 .86666666666666666666em 0; /* baseline * lines above / target fontsize:  26*2/30 = 1.73333333333333333333 / 2 = .86666666666666666666 */
	}

	aside {
	  margin-top: 10.11111111111111111111em;  /* baseline * lines above / target fontsize:  26*7/18 = 10.11111111111111111111    */
	  margin-right: 10px;
	  width: 220px; 
	  float: right;
	}
}
